.dsmeta-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.dsmeta-button {
  position: fixed;
  padding: 8px;
  right: 32px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #102347;
  color: white;
  font-family: 'Roboto', sans-serif;
  border-color: none;
  cursor: pointer;
  bottom: 8px;

}

.dsmeta-button:hover{
  background-color: #676fff;
}